html,body {

	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #eee;
	font-family: monospace;

}

header {

	width: 100%;
	height: 32px;
	background-color: #00695c;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

header table td.title {

	width: 190px;
	font-size: 16px;
	color: #fff;
	text-indent: 4px;

}

header table td.button {

	width: 120px;

}

header table button {

display: inline-block;
padding: 2px 4px;
margin-bottom: 0;
font-size: 12px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-top-color: transparent;
border-right-color: transparent;
border-bottom-color: transparent;
border-left-color: transparent;
border-radius: 4px;
color: #333;
background-color: #fff;
border-color: #ccc;	

}

main {

	width: 100%;
	height: calc(100% - 32px);
	position: relative;

}

main nav {

	width: 190px;
	background-color: #003d33;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;

}

main div.filter {

	width: 240px;
	position: absolute;
	left: 2px;
	top: 4px;
	height: 24px;
	border-radius: 3px;
	background-color: #fff;
	z-index: 1;

}

main nav article {

	width: calc(100% - 2px);
	top: 31px;
	left: 1px;
	height: calc(100% - 32px);
	position: absolute;
	background-color: #fff;
	overflow-y: auto;

}

main nav article li {
	
	width: 100%;
	font-size: 15px;
	padding: 4px 0;
	text-indent: 10px;
	list-style-type: none;
	border-bottom: 1px solid #ccc;
	position: relative;

}

main nav article li.loaded:after{

	content: "";
	width: 12px;
	height: 12px;
	border-radius: 15px;
	right: 4px;
	background-color: #7a7a7a;
	display: block;
	position: absolute;
	top: 6px;

}


main nav article li:hover {

	cursor: pointer;
	background-color: #e5ffff;

}

main nav article div.toolbar {

	width: 100%;
	height: 40px;

}

main nav article div.toolbar table {

	width: 100%;
	height: 100%;
	table-layout: fixed;

}

main nav article div.toolbar table td {

	color: #fff;
	font-size: 19px;

}


main section {

	position: absolute;
	left: 450px;
	height: 100%;
	top: 0;
	width: calc(100% - 450px);

}

main aside {

	position: absolute;
	left: 190px;
	height: 100%;
	left: 190px;
	width: 260px;
	background-color: #003d33;

}

main aside div.types {

	width: calc(100% - 90px);
	height: 24px;
	position: absolute;
	top: 4px;
	left: 90px;

}

main aside div.types button {

	border: none;
	background-color: transparent;
	padding: 2px 4px;
	color: #fff;

}

main aside div.types button:hover {

	cursor: pointer;
	text-decoration: underline;

}


main aside div.types table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	color: #fff;

}

main aside article {

	background-color: #fff;
	position: absolute;
	top: 31px;
	left: 0;
	width: calc(100% - 1px);
	height: calc(100% - 32px);
	overflow-y: scroll;

}

main aside article li {

	list-style-type: none;
	padding: 2px 0;
	font-size: 14px;
	border-bottom: 1px solid #eee;

}

main section article {

	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}

main section article.texture.active {

	display: block;

}

main section article.texture {
	
	display: none;
	background-color: #9c786c;
	width: 800px;
	height: 560px;
	left: calc(50% - 420px);
	top: calc(50% - 400px);
	z-index: 10;
	padding: 40px;

}

main section article.texture:after {

	content: "";
	pointer-events: none;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
	left: 0;
	top: 0;
	z-index: 1;
	border: 1px solid #40241a;
	position: absolute;

}

main section article.model div.settings {

	width: 300px;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background-color: #003d33;

}

main section article.model div.settings div.area {

	width: calc(100% - 2px);
	position: absolute;
	left: 1px;
	top: 31px;
	height: calc(100% - 32px);
	background-color: #fff;

}

main section article.model div.settings div.area div.model-list li {

	list-style-type: none;
	padding: 4px;
	font-size: 17px;
	border-bottom: 1px solid #ccc;

}

main section article.model div.settings div.area div.tab {

	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: none;

}

main section article.model div.settings div.area div.tab.active {

	display: block;

}

main section article.model div.settings div.tabs {

	width: 100%;
	height: 31px;
	position: absolute;
	top: 0;
	left: 0;

}

main section article.model div.settings div.tabs table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	color: #fff;
	text-align: center;

}

main section article.model div.context {

	width: calc(100% - 300px);
	height: calc(100% - 1px);
	border-top: 1px solid #003d33;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
}

main section article.texture table.box {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

main section article.texture canvas {

	border: 1px solid #000;

}

main section article.texture table.box canvas.texture {

	display: block;
	margin: auto;
	background-image: url("../img/grids.png");
	background-repeat: repeat;

}

main section article.texture table.box canvas.pallet-canvas {

	border: 1px solid #000;

}


main section article.texture table.box td.preview {

	width: 290px;
	height: 290px;

}

main section article.texture table.box td.pallet_fix {

	vertical-align: top;
	overflow-y: auto;
	padding-left: 10px;
	padding-top: 18px;
	border-left: 1px solid #8a8a8a;

}

main section article.texture table.box td.pallet_fix div {

	max-height: 100%;
	overflow-y: auto;

}

main section article.texture table.box td.pallet_fix li {

	font-size: 12px;
	padding: 8px 0;
	list-style-type: none;
	background-color: #fff;
	margin-bottom: 2px;

}
main section article.texture table.box td.pallet_fix li input {

	pointer-events: none;

}

main section article.texture table.box table.meta {

	width: 100%;
	height:256px;
	text-align: right;
	table-layout: fixed;
	background-color: #fff;

}

main section article.texture span.close {

	display: block;
	position: absolute;
	top: 22px;
	right: 32px;
	font-size: 16px;

}

main section article.texture span.close:hover {

	cursor: pointer;
	text-decoration: underline;

}

main section article.texture table.box table.pallet_select {

	width: 100%;
	height: 100%;
	table-layout: fixed;

}

main section article.model div.settings div.area div.texture-list div {

	padding: 0;
	margin: 0;
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
	
}

main section article.model div.settings div.area div.texture-list div li {

	list-style-type: none;
	font-size: 15px;
	padding: 4px 0;
	width: 256px;
	display: block;
	margin: auto;

}

main section article.model div.settings div.area div.texture-list div canvas {

	display: block;
	margin: auto;
	border: 1px solid #000;

}

main section article.model div.settings div.area div.tab div table {

	width: 100%;
	table-layout: fixed;
	margin-top: 8px;

}

main section article.model div.settings div.area div.tab div table button {

	display: block;
	margin: auto;
	width: 120px;

}

main section article.texture div.images {

	width: 100%;
	height: 100%;
	overflow-y: scroll;

}

main section article.texture div.images p {
	
	margin-top: 0;

}

main section article.texture div.images canvas:hover {

	cursor: pointer;
	border-color: #f00;

}

